.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

/* Imagen dentro de la carta */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tamaños */
.card-mini {
  width: 50px;
  height: 75px;
}

.card-medium {
  width: 80px;
  height: 120px;
}

.card-large {
  width: 120px;
  height: 180px;
}
