.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.form-container {
  background-image: url("../../assets/background_card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  max-width: 464px;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 1rem 0.2rem rgba(41, 3, 3, 0.5);
}

.form-title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  color: #2a1713;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #2a1713;
}

.input-group .input-field {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.form-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form-button .custom-button {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  max-width: 120px;
}
