.form-container {
  background-image: url("../../assets/background_card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.5rem;
  border-radius: 12px;
  height: 850px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(41, 3, 3, 0.5);
}

.form-title {
  margin-top: 0px;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  color: #2a1713;
}
.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2a1713;
  margin-left: 0.1rem;
}

.form-input {
  padding: 12px;
  font-size: 1.5rem;
  margin-top: 50px;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  margin-top: 2rem;
  width: 7rem;
  align-self: center;
}
